In [1]:
import os
from nba_api.stats.endpoints import boxscoretraditionalv2
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.static import teams
import requests
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
gamefinder = leaguegamefinder.LeagueGameFinder()
x = gamefinder.get_data_frames()[0]
x

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52022,1612709922,GBO,Greensboro Swarm,2052200060,2022-11-15,GBO vs. RAP,L,239,116,...,0.857,8,36,44,26,5,8,18,26,-6.4
1,52022,1612709920,RAP,Raptors 905,2052200060,2022-11-15,RAP @ GBO,W,239,123,...,0.609,14,33,47,24,9,8,12,33,3.4
2,22022,1610612746,LAC,LA Clippers,0022200203,2022-11-14,LAC @ HOU,W,240,122,...,0.788,9,35,44,25,6,4,16,23,16.0
3,22022,1610612749,MIL,Milwaukee Bucks,0022200204,2022-11-14,MIL vs. ATL,L,240,106,...,0.780,11,35,46,21,4,3,15,26,-15.0
4,22022,1610612745,HOU,Houston Rockets,0022200203,2022-11-14,HOU vs. LAC,L,241,106,...,0.613,10,30,40,20,11,3,14,22,-16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612757,POR,Portland Trail Blazers,0021600728,2017-01-31,POR vs. CHA,W,240,115,...,0.870,11,40,51,23,8,2,8,18,17.0
29996,22016,1610612743,DEN,Denver Nuggets,0021600729,2017-01-31,DEN @ LAL,L,240,116,...,0.826,20,31,51,26,12,5,11,18,-4.0
29997,22016,1610612758,SAC,Sacramento Kings,0021600726,2017-01-31,SAC @ HOU,L,240,83,...,0.577,10,35,45,22,9,7,11,17,-22.0
29998,22016,1610612752,NYK,New York Knicks,0021600724,2017-01-31,NYK @ WAS,L,241,101,...,0.800,22,29,51,18,8,2,12,17,-16.0
29999,22016,1610612764,WAS,Washington Wizards,0021600724,2017-01-31,WAS vs. NYK,W,239,117,...,0.800,9,37,46,27,4,4,12,25,16.0

In [3]:
nbaTeams = teams.get_teams()
teamsDF = pd.DataFrame(nbaTeams)
teamsDF

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [4]:
GameDF = x[
    (x.TEAM_ABBREVIATION == 'ATL') | 
    (x.TEAM_ABBREVIATION == 'BOS') | 
    (x.TEAM_ABBREVIATION == 'CLE') |
    (x.TEAM_ABBREVIATION == 'NOP') |
    (x.TEAM_ABBREVIATION == 'CHI') |
    (x.TEAM_ABBREVIATION == 'DAL') |
    (x.TEAM_ABBREVIATION == 'DEN') |
    (x.TEAM_ABBREVIATION == 'GSW') |
    (x.TEAM_ABBREVIATION == 'HOU') |
    (x.TEAM_ABBREVIATION == 'LAC') | 
    (x.TEAM_ABBREVIATION == 'LAL') | 
    (x.TEAM_ABBREVIATION == 'MIA') |
    (x.TEAM_ABBREVIATION == 'MIL') |
    (x.TEAM_ABBREVIATION == 'MIN') |
    (x.TEAM_ABBREVIATION == 'BKN') |
    (x.TEAM_ABBREVIATION == 'NYK') |
    (x.TEAM_ABBREVIATION == 'ORL') |
    (x.TEAM_ABBREVIATION == 'IND') |
    (x.TEAM_ABBREVIATION == 'PHI') | 
    (x.TEAM_ABBREVIATION == 'PHX') | 
    (x.TEAM_ABBREVIATION == 'POR') |
    (x.TEAM_ABBREVIATION == 'SAC') |
    (x.TEAM_ABBREVIATION == 'SAS') |
    (x.TEAM_ABBREVIATION == 'OKC') |
    (x.TEAM_ABBREVIATION == 'TOR') |
    (x.TEAM_ABBREVIATION == 'UTA') |
    (x.TEAM_ABBREVIATION == 'MEM') |
    (x.TEAM_ABBREVIATION == 'WAS') |
    (x.TEAM_ABBREVIATION == 'DET') |
    (x.TEAM_ABBREVIATION == 'CHA')]
GameDF = GameDF.reset_index(drop=True)
GameDF

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612746,LAC,LA Clippers,0022200203,2022-11-14,LAC @ HOU,W,240,122,...,0.788,9,35,44,25,6,4,16,23,16.0
1,22022,1610612749,MIL,Milwaukee Bucks,0022200204,2022-11-14,MIL vs. ATL,L,240,106,...,0.780,11,35,46,21,4,3,15,26,-15.0
2,22022,1610612745,HOU,Houston Rockets,0022200203,2022-11-14,HOU vs. LAC,L,241,106,...,0.613,10,30,40,20,11,3,14,22,-16.0
3,22022,1610612737,ATL,Atlanta Hawks,0022200204,2022-11-14,ATL @ MIL,W,240,121,...,0.867,13,32,45,23,4,4,9,23,15.0
4,22022,1610612760,OKC,Oklahoma City Thunder,0022200201,2022-11-14,OKC @ BOS,L,239,122,...,0.810,10,41,51,21,4,6,19,21,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17155,22016,1610612757,POR,Portland Trail Blazers,0021600728,2017-01-31,POR vs. CHA,W,240,115,...,0.870,11,40,51,23,8,2,8,18,17.0
17156,22016,1610612743,DEN,Denver Nuggets,0021600729,2017-01-31,DEN @ LAL,L,240,116,...,0.826,20,31,51,26,12,5,11,18,-4.0
17157,22016,1610612758,SAC,Sacramento Kings,0021600726,2017-01-31,SAC @ HOU,L,240,83,...,0.577,10,35,45,22,9,7,11,17,-22.0
17158,22016,1610612752,NYK,New York Knicks,0021600724,2017-01-31,NYK @ WAS,L,241,101,...,0.800,22,29,51,18,8,2,12,17,-16.0
17159,22016,1610612764,WAS,Washington Wizards,0021600724,2017-01-31,WAS vs. NYK,W,239,117,...,0.800,9,37,46,27,4,4,12,25,16.0

In [5]:
GameDF['SEASON_ID'].unique()

array(['22022', '12022', '42022', '52022', '42021', '52021', '22021',
       '12021', '42020', '52020', '22020', '12020', '42019', '52019',
       '22019', '12019', '32019', '42018', '22018', '12018', '42017',
       '22017', '12017', '42016', '22016'], dtype=object)

In [6]:
# # 2022-23
# GameDF = GameDF.replace({'SEASON_ID': '22022'}, '2022-23')
# GameDF = GameDF.replace({'SEASON_ID': '12022'}, '2022-23')
# GameDF = GameDF.replace({'SEASON_ID': '42022'}, '2022-23')
# GameDF = GameDF.replace({'SEASON_ID': '52022'}, '2022-23')

# # 2021-22
# GameDF = GameDF.replace({'SEASON_ID': '22021'}, '2021-22')
# GameDF = GameDF.replace({'SEASON_ID': '12021'}, '2021-22')
# GameDF = GameDF.replace({'SEASON_ID': '42021'}, '2021-22')
# GameDF = GameDF.replace({'SEASON_ID': '52021'}, '2021-22')

# # 2020-21
# GameDF = GameDF.replace({'SEASON_ID': '22020'}, '2020-21')
# GameDF = GameDF.replace({'SEASON_ID': '12020'}, '2020-21')
# GameDF = GameDF.replace({'SEASON_ID': '42020'}, '2020-21')
# GameDF = GameDF.replace({'SEASON_ID': '52020'}, '2020-21')

# # 2019-20
# GameDF = GameDF.replace({'SEASON_ID': '22019'}, '2019-20')
# GameDF = GameDF.replace({'SEASON_ID': '12019'}, '2019-20')
# GameDF = GameDF.replace({'SEASON_ID': '42019'}, '2019-20')
# GameDF = GameDF.replace({'SEASON_ID': '52019'}, '2019-20')
# GameDF = GameDF.replace({'SEASON_ID': '32019'}, '2019-20')


# # 2018-19
# GameDF = GameDF.replace({'SEASON_ID': '22018'}, '2018-19')
# GameDF = GameDF.replace({'SEASON_ID': '12018'}, '2018-19')
# GameDF = GameDF.replace({'SEASON_ID': '42018'}, '2018-19')
# GameDF = GameDF.replace({'SEASON_ID': '52018'}, '2018-19')

# # 2017-18
# GameDF = GameDF.replace({'SEASON_ID': '22017'}, '2017-18')
# GameDF = GameDF.replace({'SEASON_ID': '12017'}, '2017-18')
# GameDF = GameDF.replace({'SEASON_ID': '42017'}, '2017-18')
# GameDF = GameDF.replace({'SEASON_ID': '52017'}, '2017-18')

# # 2016-17
# GameDF = GameDF.replace({'SEASON_ID': '22016'}, '2016-17')
# GameDF = GameDF.replace({'SEASON_ID': '12016'}, '2016-17')
# GameDF = GameDF.replace({'SEASON_ID': '42016'}, '2016-17')
# GameDF = GameDF.replace({'SEASON_ID': '52016'}, '2016-17')

In [7]:
GameDF['SEASON_ID'].unique()

array(['22022', '12022', '42022', '52022', '42021', '52021', '22021',
       '12021', '42020', '52020', '22020', '12020', '42019', '52019',
       '22019', '12019', '32019', '42018', '22018', '12018', '42017',
       '22017', '12017', '42016', '22016'], dtype=object)

In [8]:
password = 'Techbobcats=0618'
#your postgresql db
engine = create_engine(f'postgresql://postgres:{password}@localhost/NBA')

In [9]:
teamsDF.to_sql(name='Teams', con=engine, if_exists='replace', index=False)
GameDF.to_sql(name='Games', con=engine, if_exists='replace', index=False)

In [10]:
dz = pd.read_sql_query('Select * from public."Games"', con = engine)
dz

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612746,LAC,LA Clippers,0022200203,2022-11-14,LAC @ HOU,W,240,122,...,0.788,9,35,44,25,6,4,16,23,16.0
1,22022,1610612749,MIL,Milwaukee Bucks,0022200204,2022-11-14,MIL vs. ATL,L,240,106,...,0.780,11,35,46,21,4,3,15,26,-15.0
2,22022,1610612745,HOU,Houston Rockets,0022200203,2022-11-14,HOU vs. LAC,L,241,106,...,0.613,10,30,40,20,11,3,14,22,-16.0
3,22022,1610612737,ATL,Atlanta Hawks,0022200204,2022-11-14,ATL @ MIL,W,240,121,...,0.867,13,32,45,23,4,4,9,23,15.0
4,22022,1610612760,OKC,Oklahoma City Thunder,0022200201,2022-11-14,OKC @ BOS,L,239,122,...,0.810,10,41,51,21,4,6,19,21,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17155,22016,1610612757,POR,Portland Trail Blazers,0021600728,2017-01-31,POR vs. CHA,W,240,115,...,0.870,11,40,51,23,8,2,8,18,17.0
17156,22016,1610612743,DEN,Denver Nuggets,0021600729,2017-01-31,DEN @ LAL,L,240,116,...,0.826,20,31,51,26,12,5,11,18,-4.0
17157,22016,1610612758,SAC,Sacramento Kings,0021600726,2017-01-31,SAC @ HOU,L,240,83,...,0.577,10,35,45,22,9,7,11,17,-22.0
17158,22016,1610612752,NYK,New York Knicks,0021600724,2017-01-31,NYK @ WAS,L,241,101,...,0.800,22,29,51,18,8,2,12,17,-16.0
17159,22016,1610612764,WAS,Washington Wizards,0021600724,2017-01-31,WAS vs. NYK,W,239,117,...,0.800,9,37,46,27,4,4,12,25,16.0