In [ ]:
pip install nba_api

In [44]:
import os
from nba_api.stats.endpoints import boxscoretraditionalv2
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.static import teams
from nba_api.stats.endpoints import commonallplayers
import requests
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [45]:
gamefinder = leaguegamefinder.LeagueGameFinder()
x = gamefinder.get_data_frames()[0]
x

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52022,1612709922,GBO,Greensboro Swarm,2052200060,2022-11-15,GBO vs. RAP,L,239,116,...,0.857,8,36,44,26,6,8,19,26,-7.0
1,52022,1612709893,CLC,Cleveland Charge,2052200062,2022-11-15,CLC @ GRG,L,240,116,...,0.545,9,26,35,25,6,6,19,23,-3.0
2,52022,1612709890,AUS,Austin Spurs,2052200066,2022-11-15,AUS vs. MHU,None,96,33,...,0.500,4,19,23,4,3,1,6,5,-12.4
3,52022,1612709929,CPS,College Park Skyhawks,2052200061,2022-11-15,CPS @ CCG,L,239,123,...,0.773,5,32,37,22,9,4,11,22,-15.4
4,52022,1612709928,CCG,Capital City Go-Go,2052200061,2022-11-15,CCG vs. CPS,W,241,145,...,0.842,13,39,52,25,7,5,15,27,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612746,LAC,LA Clippers,0021600739,2017-02-01,LAC @ PHX,W,241,124,...,0.816,8,38,46,20,9,8,10,28,10.0
29996,22016,1612709905,LAD,Los Angeles D-Fenders,2021600292,2017-02-01,LAD @ TEX,W,241,116,...,0.808,19,34,53,26,8,3,13,15,2.0
29997,22016,1612709921,LIN,Long Island Nets,2021600290,2017-02-01,LIN vs. WCB,W,239,117,...,0.786,12,37,49,26,10,3,16,12,8.0
29998,22016,1610612756,PHX,Phoenix Suns,0021600739,2017-02-01,PHX vs. LAC,L,240,114,...,0.829,17,27,44,21,5,3,12,27,-10.0
29999,22016,1610612738,BOS,Boston Celtics,0021600732,2017-02-01,BOS vs. TOR,W,241,109,...,0.833,12,27,39,24,6,2,9,21,5.0

In [46]:
x.nunique()

SEASON_ID               37
TEAM_ID                211
TEAM_ABBREVIATION      217
TEAM_NAME              255
GAME_ID              14993
GAME_DATE             1693
MATCHUP               5476
WL                       2
MIN                    114
PTS                    169
FGM                     70
FGA                    127
FG_PCT                 514
FG3M                    33
FG3A                    73
FG3_PCT                429
FTM                     45
FTA                     57
FT_PCT                 324
OREB                    31
DREB                    57
REB                     73
AST                     51
STL                     30
BLK                     21
TOV                     42
PF                      45
PLUS_MINUS             379
dtype: int64

In [43]:
nbaTeams = teams.get_teams()
teamsDF = pd.DataFrame(nbaTeams)
teamsDF.abbreviation[0]

'ATL'

In [13]:
GameDF = x[
    (x.TEAM_ABBREVIATION == 'ATL') | 
    (x.TEAM_ABBREVIATION == 'BOS') | 
    (x.TEAM_ABBREVIATION == 'CLE') |
    (x.TEAM_ABBREVIATION == 'NOP') |
    (x.TEAM_ABBREVIATION == 'CHI') |
    (x.TEAM_ABBREVIATION == 'DAL') |
    (x.TEAM_ABBREVIATION == 'DEN') |
    (x.TEAM_ABBREVIATION == 'GSW') |
    (x.TEAM_ABBREVIATION == 'HOU') |
    (x.TEAM_ABBREVIATION == 'LAC') | 
    (x.TEAM_ABBREVIATION == 'LAL') | 
    (x.TEAM_ABBREVIATION == 'MIA') |
    (x.TEAM_ABBREVIATION == 'MIL') |
    (x.TEAM_ABBREVIATION == 'MIN') |
    (x.TEAM_ABBREVIATION == 'BKN') |
    (x.TEAM_ABBREVIATION == 'NYK') |
    (x.TEAM_ABBREVIATION == 'ORL') |
    (x.TEAM_ABBREVIATION == 'IND') |
    (x.TEAM_ABBREVIATION == 'PHI') | 
    (x.TEAM_ABBREVIATION == 'PHX') | 
    (x.TEAM_ABBREVIATION == 'POR') |
    (x.TEAM_ABBREVIATION == 'SAC') |
    (x.TEAM_ABBREVIATION == 'SAS') |
    (x.TEAM_ABBREVIATION == 'OKC') |
    (x.TEAM_ABBREVIATION == 'TOR') |
    (x.TEAM_ABBREVIATION == 'UTA') |
    (x.TEAM_ABBREVIATION == 'MEM') |
    (x.TEAM_ABBREVIATION == 'WAS') |
    (x.TEAM_ABBREVIATION == 'DET') |
    (x.TEAM_ABBREVIATION == 'CHA')]
GameDF = GameDF.reset_index(drop=True)
GameDF

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612738,BOS,Boston Celtics,0022200201,2022-11-14,BOS vs. OKC,W,239,126,...,0.828,10,36,46,25,15,7,14,20,4.0
1,22022,1610612765,DET,Detroit Pistons,0022200199,2022-11-14,DET vs. TOR,L,240,111,...,0.721,11,28,39,23,8,2,19,23,-4.0
2,22022,1610612749,MIL,Milwaukee Bucks,0022200204,2022-11-14,MIL vs. ATL,L,240,106,...,0.780,11,35,46,21,4,3,15,26,-15.0
3,22022,1610612737,ATL,Atlanta Hawks,0022200204,2022-11-14,ATL @ MIL,W,240,121,...,0.867,13,32,45,23,4,4,9,23,15.0
4,22022,1610612761,TOR,Toronto Raptors,0022200199,2022-11-14,TOR @ DET,W,240,115,...,0.964,12,30,42,27,7,8,17,27,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17155,22016,1610612764,WAS,Washington Wizards,0021600724,2017-01-31,WAS vs. NYK,W,239,117,...,0.800,9,37,46,27,4,4,12,25,16.0
17156,22016,1610612745,HOU,Houston Rockets,0021600726,2017-01-31,HOU vs. SAC,W,238,105,...,0.682,11,49,60,28,4,4,14,24,22.0
17157,22016,1610612760,OKC,Oklahoma City Thunder,0021600727,2017-01-31,OKC @ SAS,L,240,94,...,0.844,12,38,50,21,12,7,20,30,-14.0
17158,22016,1610612740,NOP,New Orleans Pelicans,0021600725,2017-01-31,NOP @ TOR,L,265,106,...,0.737,13,34,47,17,11,7,11,16,-2.0
17159,22016,1610612743,DEN,Denver Nuggets,0021600729,2017-01-31,DEN @ LAL,L,240,116,...,0.826,20,31,51,26,12,5,11,18,-4.0

In [14]:
players = commonallplayers.CommonAllPlayers()
dx = players.get_data_frames()[0]
dx = dx.dropna()
dx = dx.drop(['ROSTERSTATUS', 'FROM_YEAR', 'TO_YEAR', 'TEAM_SLUG', 'PLAYER_SLUG'], axis=1)
dx

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
10,1630173,"Achiuwa, Precious",Precious Achiuwa,precious_achiuwa,1610612761,Toronto,Raptors,TOR,raptors,Y,00
22,203500,"Adams, Steven",Steven Adams,steven_adams,1610612763,Memphis,Grizzlies,MEM,grizzlies,Y,00
24,1628389,"Adebayo, Bam",Bam Adebayo,bam_adebayo,1610612748,Miami,Heat,MIA,heat,Y,00
29,1630534,"Agbaji, Ochai",Ochai Agbaji,ochai_agbaji,1610612762,Utah,Jazz,UTA,jazz,Y,00
41,1630583,"Aldama, Santi",Santi Aldama,santi_aldama,1610612763,Memphis,Grizzlies,MEM,grizzlies,Y,01
...,...,...,...,...,...,...,...,...,...,...,...
4759,1630593,"Wright IV, McKinley",McKinley Wright IV,mckinley_wright_iv,1610612742,Dallas,Mavericks,DAL,mavericks,Y,01
4781,201152,"Young, Thaddeus",Thaddeus Young,thaddeus_young,1610612761,Toronto,Raptors,TOR,raptors,Y,00
4783,1629027,"Young, Trae",Trae Young,trae_young,1610612737,Atlanta,Hawks,ATL,hawks,Y,00
4784,1630209,"Yurtseven, Omer",Omer Yurtseven,tmp_omer_yurtseven,1610612748,Miami,Heat,MIA,heat,Y,01
4803,1627826,"Zubac, Ivica",Ivica Zubac,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,Y,01

In [15]:
password = 'Techbobcats=0618'
#your postgresql db
engine = create_engine(f'postgresql://postgres:{password}@localhost/NBA')

In [16]:
teamsDF.to_sql(name='Teams', con=engine, if_exists='replace', index=False)
GameDF.to_sql(name='Games', con=engine, if_exists='replace', index=False)
dx.to_sql(name='Players', con=engine, if_exists='replace', index=False)

In [17]:
dz = pd.read_sql_query('Select * from public."Games"', con = engine)
dz

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612738,BOS,Boston Celtics,0022200201,2022-11-14,BOS vs. OKC,W,239,126,...,0.828,10,36,46,25,15,7,14,20,4.0
1,22022,1610612765,DET,Detroit Pistons,0022200199,2022-11-14,DET vs. TOR,L,240,111,...,0.721,11,28,39,23,8,2,19,23,-4.0
2,22022,1610612749,MIL,Milwaukee Bucks,0022200204,2022-11-14,MIL vs. ATL,L,240,106,...,0.780,11,35,46,21,4,3,15,26,-15.0
3,22022,1610612737,ATL,Atlanta Hawks,0022200204,2022-11-14,ATL @ MIL,W,240,121,...,0.867,13,32,45,23,4,4,9,23,15.0
4,22022,1610612761,TOR,Toronto Raptors,0022200199,2022-11-14,TOR @ DET,W,240,115,...,0.964,12,30,42,27,7,8,17,27,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17155,22016,1610612764,WAS,Washington Wizards,0021600724,2017-01-31,WAS vs. NYK,W,239,117,...,0.800,9,37,46,27,4,4,12,25,16.0
17156,22016,1610612745,HOU,Houston Rockets,0021600726,2017-01-31,HOU vs. SAC,W,238,105,...,0.682,11,49,60,28,4,4,14,24,22.0
17157,22016,1610612760,OKC,Oklahoma City Thunder,0021600727,2017-01-31,OKC @ SAS,L,240,94,...,0.844,12,38,50,21,12,7,20,30,-14.0
17158,22016,1610612740,NOP,New Orleans Pelicans,0021600725,2017-01-31,NOP @ TOR,L,265,106,...,0.737,13,34,47,17,11,7,11,16,-2.0
17159,22016,1610612743,DEN,Denver Nuggets,0021600729,2017-01-31,DEN @ LAL,L,240,116,...,0.826,20,31,51,26,12,5,11,18,-4.0

In [37]:
from nba_api.stats.endpoints import franchisehistory
home = franchisehistory.FranchiseHistory()
dt = home.get_data_frames()[0]
dt = dt.loc[dt['END_YEAR'] == '2022']

,LEAGUE_ID,TEAM_ID,TEAM_CITY,TEAM_NAME,START_YEAR,END_YEAR,YEARS,GAMES,WINS,LOSSES,WIN_PCT,PO_APPEARANCES,DIV_TITLES,CONF_TITLES,LEAGUE_TITLES
0,00,1610612737,Atlanta,Hawks,1949,2022,74,5789,2860,2929,0.494,48,13,0,1
1,00,1610612737,Atlanta,Hawks,1968,2022,55,4369,2161,2208,0.494,35,7,0,0
5,00,1610612738,Boston,Celtics,1946,2022,77,5965,3524,2440,0.590,59,33,10,17
6,00,1610612751,Brooklyn,Nets,1976,2022,47,3718,1583,2135,0.425,23,4,2,0
7,00,1610612751,Brooklyn,Nets,2012,2022,11,814,375,439,0.460,7,0,0,0
10,00,1610612766,Charlotte,Hornets,1988,2022,33,2564,1130,1434,0.440,10,0,0,0
11,00,1610612766,Charlotte,Hornets,1988,2022,23,1760,837,923,0.475,10,0,0,0
13,00,1610612741,Chicago,Bulls,1966,2022,57,4530,2310,2220,0.509,36,9,6,6
14,00,1610612739,Cleveland,Cavaliers,1970,2022,53,4202,1941,2261,0.461,22,7,5,1
15,00,1610612742,Dallas,Mavericks,1980,2022,43,3391,1716,1675,0.506,24,4,2,1
16,00,1610612743,Denver,Nuggets,1976,2022,47,3718,1853,1865,0.498,28,9,0,0
17,00,1610612765,Detroit,Pistons,1948,2022,75,5851,2800,3051,0.478,42,12,5,3
18,00,1610612765,Detroit,Pistons,1957,2022,66,5230,2486,2744,0.475,34,9,5,3
20,00,1610612744,Golden State,Warriors,1946,2022,77,5953,2885,3068,0.484,36,12,7,7
21,00,1610612744,Golden State,Warriors,1971,2022,52,4121,1997,2124,0.484,19,7,7,5
24,00,1610612745,Houston,Rockets,1967,2022,56,4456,2308,2148,0.517,34,8,4,2
25,00,1610612745,Houston,Rockets,1971,2022,52,4128,2189,1939,0.530,33,8,4,2
27,00,1610612754,Indiana,Pacers,1976,2022,47,3717,1854,1862,0.498,27,6,1,0
28,00,1610612746,LA,Clippers,1970,2022,53,4210,1756,2454,0.417,16,2,0,0
29,00,1610612746,LA,Clippers,2015,2022,8,568,340,228,0.598,5,0,0,0
33,00,1610612747,Los Angeles,Lakers,1948,2022,75,5856,3465,2391,0.591,62,35,19,17
34,00,1610612747,Los Angeles,Lakers,1960,2022,63,5014,3006,2008,0.599,51,30,19,12
36,00,1610612763,Memphis,Grizzlies,1995,2022,28,2162,929,1232,0.429,12,2,0,0
37,00,1610612763,Memphis,Grizzlies,2001,2022,22,1702,828,873,0.486,12,2,0,0
39,00,1610612748,Miami,Heat,1988,2022,35,2735,1438,1297,0.525,23,15,6,3
40,00,1610612749,Milwaukee,Bucks,1968,2022,55,4374,2292,2082,0.524,34,18,3,2
41,00,1610612750,Minnesota,Timberwolves,1989,2022,34,2644,1055,1589,0.399,10,1,0,0
42,00,1610612740,New Orleans,Pelicans,2002,2022,21,1618,747,870,0.461,8,1,0,0
43,00,1610612740,New Orleans,Pelicans,2013,2022,10,732,328,403,0.448,3,0,0,0
46,00,1610612752,New York,Knicks,1946,2022,77,5955,2883,3072,0.484,42,9,4,2
47,00,1610612760,Oklahoma City,Thunder,1967,2022,56,4456,2379,2077,0.533,32,11,4,1
48,00,1610612760,Oklahoma City,Thunder,2008,2022,15,1126,634,492,0.563,10,5,1,0
50,00,1610612753,Orlando,Magic,1989,2022,34,2653,1238,1415,0.466,16,7,2,0
51,00,1610612755,Philadelphia,76ers,1949,2022,74,5792,3008,2784,0.519,52,13,5,3
52,00,1610612755,Philadelphia,76ers,1963,2022,60,4778,2431,2347,0.508,38,10,5,2
54,00,1610612756,Phoenix,Suns,1968,2022,55,4374,2343,2031,0.535,31,9,3,0
55,00,1610612757,Portland,Trail Blazers,1970,2022,53,4211,2247,1964,0.533,37,7,3,1
56,00,1610612758,Sacramento,Kings,1948,2022,75,5854,2660,3194,0.454,29,6,0,1
57,00,1610612758,Sacramento,Kings,1985,2022,38,2978,1254,1724,0.421,10,2,0,0
62,00,1610612759,San Antonio,Spurs,1976,2022,47,3717,2267,1450,0.609,39,22,6,5
63,00,1610612761,Toronto,Raptors,1995,2022,28,2161,1038,1123,0.480,13,7,1,1
64,00,1610612762,Utah,Jazz,1974,2022,49,3883,2119,1764,0.545,31,12,2,0
65,00,1610612762,Utah,Jazz,1979,2022,44,3473,1958,1515,0.563,31,12,2,0
67,00,1610612764,Washington,Wizards,1961,2022,62,4937,2230,2707,0.451,30,8,4,1
68,00,1610612764,Washington,Wizards,1997,2022,26,1996,852,1144,0.426,9,1,0,0

In [39]:
playerStat = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id = '2052200060')
p = playerStat.get_data_frames()[0]
p

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,2052200060,1612709920,RAP,Raptors,1631122,Gabe Brown,Gabe,F,,33:21,...,3.0,5.0,8.0,3.0,2.0,0.0,0.0,3.0,23.0,25.0
1,2052200060,1612709920,RAP,Raptors,1629624,Kenny Wooten,Kenny,F,,16:08,...,2.0,5.0,7.0,1.0,0.0,2.0,3.0,6.0,6.0,-8.0
2,2052200060,1612709920,RAP,Raptors,1629617,Reggie Perry,Reggie,C,,31:50,...,3.0,3.0,6.0,2.0,1.0,1.0,3.0,5.0,25.0,-3.0
3,2052200060,1612709920,RAP,Raptors,1631199,Ron Harper Jr.,Ron,G,,39:10,...,2.0,5.0,7.0,2.0,2.0,2.0,2.0,1.0,29.0,18.0
4,2052200060,1612709920,RAP,Raptors,1630240,Saben Lee,Saben,G,,35:16,...,1.0,4.0,5.0,9.0,3.0,1.0,1.0,2.0,19.0,0.0
5,2052200060,1612709920,RAP,Raptors,1641501,Ryan Hawkins,Ryan,,,17:21,...,0.0,1.0,1.0,2.0,0.0,0.0,0.0,4.0,0.0,-15.0
6,2052200060,1612709920,RAP,Raptors,1628982,Melvin Frazier Jr.,Melvin,,,22:12,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,3.0,9.0,2.0
7,2052200060,1612709920,RAP,Raptors,1630525,David Johnson,David,,,15:54,...,1.0,2.0,3.0,1.0,1.0,1.0,0.0,1.0,2.0,9.0
8,2052200060,1612709920,RAP,Raptors,1630287,Christian Vital,Christian,,,15:13,...,1.0,5.0,6.0,1.0,0.0,1.0,2.0,3.0,8.0,2.0
9,2052200060,1612709920,RAP,Raptors,1630750,Obadiah Noel,Obadiah,,,13:35,...,1.0,0.0,1.0,2.0,0.0,0.0,1.0,5.0,2.0,5.0
10,2052200060,1612709920,RAP,Raptors,1631498,Devon Daniels,Devon,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2052200060,1612709922,GBO,Greensboro,1631121,Bryce McGowens,Bryce,F,,41:15,...,1.0,5.0,6.0,6.0,0.0,0.0,2.0,5.0,19.0,-9.0
12,2052200060,1612709922,GBO,Greensboro,1631347,Anthony Duruji,Anthony,F,,35:18,...,1.0,9.0,10.0,4.0,1.0,2.0,2.0,5.0,13.0,0.0
13,2052200060,1612709922,GBO,Greensboro,1631109,Mark Williams,Mark,C,,25:51,...,5.0,7.0,12.0,1.0,0.0,3.0,1.0,5.0,18.0,3.0
14,2052200060,1612709922,GBO,Greensboro,1628424,Kobi Simmons,Kobi,G,,40:37,...,0.0,5.0,5.0,7.0,1.0,1.0,7.0,2.0,25.0,1.0
15,2052200060,1612709922,GBO,Greensboro,1630622,Jalen Crutcher,Jalen,G,,41:14,...,0.0,1.0,1.0,5.0,3.0,0.0,3.0,2.0,27.0,2.0
16,2052200060,1612709922,GBO,Greensboro,1631301,Jaylen Sims,Jaylen,,,29:03,...,0.0,7.0,7.0,3.0,1.0,0.0,3.0,3.0,9.0,-5.0
17,2052200060,1612709922,GBO,Greensboro,1631348,Isaiah Whaley,Isaiah,,,11:08,...,1.0,1.0,2.0,0.0,0.0,2.0,1.0,3.0,2.0,1.0
18,2052200060,1612709922,GBO,Greensboro,1631290,Aaron Wheeler,Aaron,,,13:11,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,-21.0
19,2052200060,1612709922,GBO,Greensboro,1629826,Norense Odiase,Norense,,,2:23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-7.0
20,2052200060,1612709922,GBO,Greensboro,1629071,LiAngelo Ball,LiAngelo,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN